:root {
    /* common */
    --containerMaxWidth: 1600px;

    /* fonts */
    --font-family: "HelveticaNeueCyr-Light", sans-serif;
    --second-family: "SFPro-Regular", sans-serif;
    --third-family: "Onest-Regular", sans-serif;

    /* colors */
    --white: #fff;
    --black: #202020;
    --gray: #7b7b7b;
    --light-gray2: #e5e5e5;
    --light-gray: #f4f4f4;
    --grey-35: #353535;
    --green: #5bce89;
    --red: #f4371c;
}